.list__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 5px;

  div {
    display: flex;
    align-items: center;
  }
}

.item {
  &__checkbox {
    margin-right: 10px;
  }

  &__text {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__remove {
    color: orangered;

    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }
}
